.container
	.row
		.twelvecol
			%h1.inbox
				Inbox
			.messages
				= will_paginate @messages
				%ul
					%li.heading
						.from
							From
						.subject
							Subject
						.date
							Date/Time
					- @messages.each do |m|
						%li.messagerow
							.from
								= link_to User.find(m.sender).display_name ||= User.find(m.sender).name, "/user/#{m.sender}/profile"
							.subject
								%span= m.subject
								.body
									= m.content
									.reply_link
										%a{:class => 'pmReply', :href => '#void'}
											Reply to 
											= User.find(m.sender).name
									.reply
							.date
								= m.updated_at.to_s(format = :long_ordinal)
						